{% extends 'base.html' %}

{% block title %}Home page{% endblock title %}

{% block content %}
    <br>
    <div class="p-5 mb-4 bg-light rounded-3">
        <h1 class="dispaly-4">Hi!</h1>
        <p class="lead">Welcome to Khursandbek Saidov's personal blog.</p>
        <hr class="my-4">
        <p>Here you will stay up to date with the latest news about programming and programmers.</p>
        <p class="lead">
            <a class="btn btn-primary" href="{% url 'article_list' %}" role="button">Learn more</a>
        </p>
    </div>
{% endblock content %}